<table class="tabpayscir">
    {{#each listeEcurie}}
        <tr><td><img src="/image/pays/{{this.PAYADRDRAP}}" alt="drapeau du pays" />
            <a href="/detailEcurie/{{this.ECUNUM}}"> {{this.ECUNOM}}</a>
        </td></tr>
    {{/each}}
</table>
<br class="myboth" />
