<table class="tab">
    <tr>
        <td> Cliquez sur une lettre :</td>
        {{#each listeLettre}}
            <td>
                <a href=""> {{this.initial}}</a>
            </td>
        {{/each}}
    </tr>
</table>