<table class="tabpayscir">
    {{#each listeGrandPrix}}
        <tr><td><img src="/image/pays/{{this.PAYADRDRAP}}" alt="drapeau {{this.PAYNOM}}" />
            <a href="/detailGrandPrix/{{this.GPNUM}}"> {{this.GPNOM}}</a>
        </td></tr>
    {{/each}}
</table>
<br class="myboth" />
