<table class="lettresRecherche">
    <tr>
        <td> Cliquez sur une lettre : </td>
        {{#each listeLettre}}
            <td>
                <a id="lettresRecherche" href="/resultatRepertoirePilote/{{this.initial }}"> {{this.initial}}</a>
            </td>
        {{/each}}
    </tr>
</table>