{{>listeRepPiloPartial}}

<div>
    <div>
        <p><strong>Nom :</strong>{{detailPerso.PILNOM}}</p>
        <p><strong>Date de naissance:</strong>{{detailPerso.PILDATENAIS}}</p>
        <p><strong>Nationalité :</strong>{{detailPerso.PAYNAT}}</p>
        <p><strong>Ecurie :</strong>{{detailPerso.ECUNOM}}</p>
    </div>
    <div>

    </div>
    <div>

    </div>
</div>
<div>

</div>
<div>

</div>
<div>
    {{#each }}
        <img src="">
    {{/each}}
</div>
