
{{>listeRepPiloPartial}}

{{#each listePilote}}
    <div>
        <img src="{{this.phoadresse}}" alt="{{this.pilnom}}">
        <p>{{this.pilprenom}}</p>
        <p>{{this.pilnom}}</p>
    </div>

{{/each}}