<meta http-equiv="refresh" content="3; URL=/pilotes" />
<div >
    {{#if modif}}
        <h1>Le pilote a bien été modifier !
            Vous allez être redirigé …</h1>
    {{else}}
        <h1>Le pilote a bien été supprimé !
            Vous allez être redirigé …</h1>
    {{/if}}

</div>