<form class="formulaire" action="#" method="post">
    <h1>Modifier un sponsor</h1>
    </br>
    <label for="nom">
        <b>Nom</b>
        <input type="text" name="nom" value="{{sponsor.SPONOM}}" required>
    </label>
    </br>
    </br>
    <label for="sposectactivite">
        <b>Secteur d'activité </b>
        <input type="text" name="sposectactivite" value="{{sponsor.SPOSECTACTIVITE}}" required>
    </label>
    </br>
    </br>

    <label for="ecunum"> <b>Ecurie Sponsorisée </b>
        <select id="ecunum" name="ecunum">
            <option value="0">Aucune</option>
            {{#each ecuries}}
                <option value="{{this.ECUNUM}}">{{this.ECUNOM}}</option>
            {{/each}}
        </select>
    </label>
    </br></br>
    <input type="submit" value="AJOUTER">
</form>
