<meta http-equiv="refresh" content="2; URL=/sponsors" />
<div >
    {{#if modif}}
        <h1>Le sponsors a bien été modifier !
            Vous allez être redirigé …</h1>
    {{/if}}
    {{#if supp}}
        <h1>Le sponsors a bien été supprimé !
            Vous allez être redirigé …</h1>
    {{/if}}
    {{#if ajout}}
        <h1>Le sponsors a bien été ajouté !
            Vous allez être redirigé …</h1>
    {{/if}}
    {{#if sponso}}
        <h1>Le pilote a bien été sponsorisé !
            Vous allez être redirigé …</h1>
    {{/if}}
    {{#if sponsoerr}}
        <h1>Le pilote est déjà sponsorisé par ce sponsor !
            Vous allez être redirigé …</h1>
    {{/if}}


</div>