<meta http-equiv="refresh" content="2; URL=/sponsors" />
<div >
    {{#if modif}}
        <h1>Le sponsors a bien été modifier !
            Vous allez être redirigé …</h1>
    {{/if}}
    {{#if supp}}
        <h1>Le sponsors a bien été supprimé !
            Vous allez être redirigé …</h1>
    {{/if}}
    {{#if ajout}}
        <h1>Le sponsors a bien été ajouté !
            Vous allez être redirigé …</h1>
    {{/if}}


</div>