<h1>Ecrire ici la page d'acceuil du site</h1>
<div id="connexion">
    <h1>Administration</h1>
    <form>
        <label>
            Login :
            <input type="text" required>
        </label>
        <label>
            Mot de passe:
            <input type="password" required>
        </label>
        <input type="reset" value="Annuler">
        <input type="submit" value="Connexion">
    </form>
</div>