
{{#if fail}}
    <p id="erreur"><img src="/image/act_warning.png">{{this.fail}}</p>
{{/if}}

<div class="login">

    <form class="connexion " action="#" method="post">
        <h1>Administration</h1>
        <label for="login">
            <b>Login</b>
            <input type="text" id="login" name="login" required>
        </label>
        </br></br>
        <label for="pwd">
            <b>Mot de passe </b>
            <input type="password" id="pwd" name="pwd" required>
        </label>
        </br></br>
        <input type="submit" value="Connexion">
        <input type="reset" value="Annuler">
        </br></br>
    </form>

</div>