
        <table class="tabpayscir">
            {{#each listeCircuit}}
                <tr><td><img class="drapeau" src="/image/pays/{{this.PAYADRDRAP}}" alt="drapeau du pays" />
                    <a href="/detailCircuit/{{this.CIRNUM}}"> {{this.CIRNOM}}</a>
                </td></tr>
            {{/each}}
        </table>
        <br class="myboth" />



